header {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #5e4dcd;
}

h2 {
    color: #5e4dcd;
}

h3 {
    font-size: 1.2rem;
    color: #5e5dcd;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: cornflowerblue;
    margin-left: 23px;
}
