.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.app-divider {
    margin: 10px 20px;
    border: none;
    border-top: 1px solid #ccc;
}

.app-banner {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.app-banner-img {
    display: block;
    width: 100%;
    height: auto;
}

.catergories {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #5e4dcd;
    border-radius: 5px;
    outline: none;
}

select:focus {
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
}
